<div class="page-header">
  <h1>Example</h1>
</div>
<div class="panel">

  <ng-template #templateAdd>
    <div class="modal-header">
      <div class="col-md-8">
        <h4 class="modal-title pull-left">Add post</h4>
      </div>
      <button
        type="button"
        class="close pull-right"
        aria-label="Close"
        (click)="closeModal()"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
          <div class="col-md-8">
            <input
              class="form-control"
              name="title"
              [(ngModel)]="title"
              placeholder="Title"
            />
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-8">
            <input
              class="form-control"
              name="description"
              [(ngModel)]="description"
              placeholder="Description"
            />
          </div>
        </div>
        <div class="form-group text-right">
          <div class="col-md-8">
            <button
              type="button"
              class="btn btn-success"
              (click)="addPost(title, description)"
            >
              Ok
            </button>
            <button
              type="button"
              class="btn btn-danger"
              (click)="closeModal()"
            >
              Cancel
            </button>
          </div>
        </div>
      </form>
    </div>
  </ng-template>

  <ng-template #templateEdit>
    <div class="modal-header">
      <div class="col-md-8">
        <h4 class="modal-title pull-left">Edit post</h4>
      </div>
      <button
        type="button"
        class="close pull-right"
        aria-label="Close"
        (click)="closeModal()"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
          <div class="col-md-8">
            <input
              class="form-control"
              name="title"
              [(ngModel)]="title"
              placeholder="Title"
            />
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-8">
            <input
              class="form-control"
              name="description"
              [(ngModel)]="description"
              placeholder="Description"
            />
          </div>
        </div>
        <div class="form-group text-right">
          <div class="col-md-8">
            <button
              type="button"
              class="btn btn-success"
              (click)="editPost(post, title, description);"
            >
              Ok
            </button>
            <button
              type="button"
              class="btn btn-danger"
              (click)="closeModal()"
            >
              Cancel
            </button>
          </div>
        </div>
      </form>
    </div>
  </ng-template>

  <ng-template #templateDelete>
    <div class="modal-header">
      <div class="col-md-8">
        <h4 class="modal-title pull-left">Are you serious?</h4>
      </div>
      <button
        type="button"
        class="close pull-right"
        aria-label="Close"
        (click)="closeModal()"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
          <div class="col-md-8 text-right">
            <button
              type="button"
              class="btn btn-success"
              (click)="removePost(id)"
            >
              Ok
            </button>
            <button
              type="button"
              class="btn btn-danger"
              (click)="closeModal()"
            >
              Cancel
            </button>
          </div>
        </div>
      </form>
    </div>
  </ng-template>

  <table class="table table-striped">
    <thead>
    <tr>
      <th>title</th>
      <th>description</th>
      <th>done</th>
      <th>
        <button class="btn btn-primary" (click)="openAddForm(templateAdd)">
          Create
        </button>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let post of posts">
      <td>{{post.title}}</td>
      <td>{{post.description}}</td>
      <td><input type="checkbox" [(ngModel)]="post.done" /></td>
      <td>
        <button class="btn btn-info" (click)="openEditForm(post, templateEdit)">
          Edit
        </button>
      </td>
      <td>
        <button class="btn btn-danger" (click)="openDeleteForm(post.id, templateDelete)">
          Delete
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
